/04-Passport-Processing/PassportProcessing/nbproject/private/
/04-Passport-Processing/PassportProcessing/build/
/04-Passport-Processing/PassportProcessing_Part1/nbproject/private/
/07-Handy-Haversacks/HAndyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/build/
/07-Handy-Haversacks/HandyHaversacks/nbproject/private/
/07-Handy-Haversacks/HandyHaversacks/build/
/07-Handy-Haversacks/HandyHaversacks/dist/
/17-Conway-Cubes/ConwayCubes/nbproject/private/
/17-Conway-Cubes/ConwayCubes/build/
/16-Ticket-Translation/TicketTranslation/nbproject/private/
/16-Ticket-Translation/TicketTranslation/build/
/16-Ticket-Translation/TestSolver/nbproject/private/
/16-Ticket-Translation/TestSolver/build/
/16-Ticket-Translation/TestSolver/dist/
/13-Shuttle-Search/ShuttleSearch/nbproject/private/
/13-Shuttle-Search/ShuttleSearch/build/
/13-Shuttle-Search/fr.mbillaud.ChineseRemainder/nbproject/private/
/13-Shuttle-Search/fr.mbillaud.ChineseRemainder/build/
/14-Docking-Data/DockingData/nbproject/private/
/14-Docking-Data/DockingData/build/
/19-Monster-Messages/MonsterMessages/nbproject/private/
/19-Monster-Messages/MonsterMessages/build/
/19-Monster-Messages/MonsterMessages/dist/
/19-Monster-Messages/MonsterMessagesPart1Only/nbproject/private/
