/04-Passport-Processing/PassportProcessing/nbproject/private/
/04-Passport-Processing/PassportProcessing/build/
/04-Passport-Processing/PassportProcessing_Part1/nbproject/private/
/07-Handy-Haversacks/HAndyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/build/
/07-Handy-Haversacks/HandyHaversacks/nbproject/private/
/07-Handy-Haversacks/HandyHaversacks/build/
/07-Handy-Haversacks/HandyHaversacks/dist/
/17-Conway-Cubes/ConwayCubes/nbproject/private/
/17-Conway-Cubes/ConwayCubes/build/
/16-Ticket-Translation/TicketTranslation/nbproject/private/
/16-Ticket-Translation/TicketTranslation/build/
/16-Ticket-Translation/TestSolver/nbproject/private/
/16-Ticket-Translation/TestSolver/build/
/16-Ticket-Translation/TestSolver/dist/
/13-Shuttle-Search/ShuttleSearch/nbproject/private/
/13-Shuttle-Search/ShuttleSearch/build/
/13-Shuttle-Search/fr.mbillaud.ChineseRemainder/nbproject/private/
/13-Shuttle-Search/fr.mbillaud.ChineseRemainder/build/
/14-Docking-Data/DockingData/nbproject/private/
/14-Docking-Data/DockingData/build/
/19-Monster-Messages/MonsterMessages/nbproject/private/
/19-Monster-Messages/MonsterMessages/build/
/19-Monster-Messages/MonsterMessages/dist/
/19-Monster-Messages/MonsterMessagesPart1Only/nbproject/private/
/20-Jurassic-Jigsaw/Jigsaw/nbproject/private/
/20-Jurassic-Jigsaw/Jigsaw/build/
/20-Jurassic-Jigsaw/HelloCrabs/nbproject/private/
/22-Crab-Combat/HelloCrabs/nbproject/private/
/22-Crab-Combat/HelloCrabs/build/
/21-Allergen-Assessment/Allergen-Assessment/nbproject/private/
/21-Allergen-Assessment/Allergia/nbproject/private/
/21-Allergen-Assessment/Allergia/build/
/21-Allergen-Assessment/TilesPart2/nbproject/private/
/23-Crab-Cups/TilesPart2/nbproject/private/
/23-Crab-Cups/TilesPart2/build/
/24-Lobby-Layout/TilesPart2/nbproject/private/
/24-Lobby-Layout/TilesPart2/build/
/24-Lobby-Layout/Tiles/nbproject/private/
/24-Lobby-Layout/Tiles/build/
/2015/07-Assembly-Required/Assembly/nbproject/private/
/2015/07-Assembly-Required/Assembly/build/
