/04-Passport-Processing/PassportProcessing/nbproject/private/
/04-Passport-Processing/PassportProcessing/build/
/04-Passport-Processing/PassportProcessing_Part1/nbproject/private/
/07-Handy-Haversacks/HAndyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/nbproject/private/
/07-Handy-Haversacks/HandyHaversacksPart1/build/
/07-Handy-Haversacks/HandyHaversacks/nbproject/private/
/07-Handy-Haversacks/HandyHaversacks/build/
/07-Handy-Haversacks/HandyHaversacks/dist/
/17-Conway-Cubes/ConwayCubes/nbproject/private/
/17-Conway-Cubes/ConwayCubes/build/
